dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/setup-config
dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/build/libHSstack-machine-0.1.0.0-inplace-ghc9.12.2.so
dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/build/libHSstack-machine-0.1.0.0-inplace.a
dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/build/StackMachine.dyn_hi
dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/build/StackMachine.dyn_o
dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/build/StackMachine.hi
dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/build/StackMachine.o
dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/build/autogen/cabal_macros.h
dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/build/autogen/PackageInfo_stack_machine.hs
dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/build/autogen/Paths_stack_machine.hs
dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/cache/build
dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/cache/config
dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/cache/registration
dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/package.conf.inplace/package.cache
dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/package.conf.inplace/package.cache.lock
dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/t/stack-machine-test/setup-config
dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/t/stack-machine-test/build/stack-machine-test/stack-machine-test
dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/t/stack-machine-test/build/stack-machine-test/autogen/cabal_macros.h
dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/t/stack-machine-test/build/stack-machine-test/autogen/PackageInfo_stack_machine.hs
dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/t/stack-machine-test/build/stack-machine-test/autogen/Paths_stack_machine.hs
dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/t/stack-machine-test/build/stack-machine-test/stack-machine-test-tmp/Main.hi
dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/t/stack-machine-test/build/stack-machine-test/stack-machine-test-tmp/Main.o
dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/t/stack-machine-test/cache/build
dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/t/stack-machine-test/cache/config
dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/t/stack-machine-test/package.conf.inplace/package.cache
dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/t/stack-machine-test/package.conf.inplace/package.cache.lock
dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/t/stack-machine-test/test/stack-machine-0.1.0.0-stack-machine-test.log
dist-newstyle/build/x86_64-linux/ghc-9.12.2/stack-machine-0.1.0.0/t/stack-machine-test/test/stack-machine-0.1.0.0.log
dist-newstyle/cache/compiler
dist-newstyle/cache/config
dist-newstyle/cache/elaborated-plan
dist-newstyle/cache/improved-plan
dist-newstyle/cache/plan.json
dist-newstyle/cache/solver-plan
dist-newstyle/cache/source-hashes
dist-newstyle/cache/up-to-date
dist-newstyle/packagedb/ghc-9.12.2/package.cache
dist-newstyle/packagedb/ghc-9.12.2/package.cache.lock
dist-newstyle/packagedb/ghc-9.12.2/stack-machine-0.1.0.0-inplace.conf
